
body {
  margin: 0;
  width: 1440px;
  color: black;
  font-family: Roboto, Arial sans-serif;
  background: white;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

header {
  background: #eeeeee;

}

.head_up {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  background-color: #eeeeee;
  font-weight: 500;
  line-height: 30px;
  font-size: 16px;
  color: black;
}

.nerds_logo {
  display: inline;
  margin-top: 49px;
  margin-right: 202px;
}

.site_nav {
  display: inline-flex;
  margin-top: 49px;
  margin-right: 245px;
  align-items: center;
}

.nav_list {
  display: inline-flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  width: 438px;
  justify-content: space-between;
}

.nav_item a {
  font-weight: 500;
  line-height: 30px;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}

.nav_item a:hover,
.nav_item a:focus {
  color: #fb565a;
}

.nav_item a:active {
  font-weight: 500;
  line-height: 30px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.nav_active {
  font-weight: 500;
  line-height: 30px;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  border-bottom: 3px #fb565a solid;
}

.cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 45px;
  width: 115px;
}

.basket_ico {
  margin-right: 15px;
}

.head_bottom {
  display: flex;
  justify-content: flex-start;
  width: 1160px;
  min-height: 413px;
  margin-left: auto;
  margin-right: auto;
  background: #eeeeee;
}

.slider_text_container {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  width: 380px;
  padding-top: 67px;
}

.slider_text_container2 {
  display: flex;
  width: 515px;
  padding-top: 67px;
  padding-bottom: 80px;
}

.slider_text_container3 {
  display: flex;
  width: 408px;
  padding-bottom: 80px;
}

.kontent_header {
  margin: 0 0 28px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.kontent_text {
  margin-top: 0;
  margin-bottom: 42px;
  width: 361px;
  color: black;
  font-size: 16px;
  line-height: 24px;
}

.slider_list {
  margin: 0;
  padding-left: 0;
  width: 1160px;
  list-style: none;
}

.slide1 {
  display: flex;
  justify-content: space-between;
}

.slide2 {
  display: flex;
}

.slide3 {
  display: flex;
}

.slide2 .kontent_text {
  width: 402px;
}

.slide1 img {
  display: inline-flex;
}

/*PRODUCT*/

.product {
  display: flex;
  flex-direction: column;
  width: 1160px;
  min-height: 507px;
  margin-left: auto;
  margin-right: auto;

}

.product_list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0;
  width: 1100px;
}

.product_list p {
  margin-bottom: 35px;
  color: black;
  font-size: 16px;
  line-height: 24px;
}

.product_list li {
  justify-items: start;
  width: 300px;
}

.product_list h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.about {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  min-height: 525px;
  margin-right: auto;
  margin-left: auto;
}

.about_left {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  justify-self: flex-start;
  text-align: left;
  padding-top: 80px;
}

.about_right {
  display: flex;
  width: 360px;
  justify-self: flex-end;
  flex-direction: column;
  padding-top: 40px;
}

.about_right img {
  display: inline-flex;
  margin-bottom: 25px;
}

/* О КОМПАНИИ*/

.about_kontent_text {
  margin-top: 0;
  margin-bottom: 42px;
  width: 616px;
  color: black;
  font-size: 16px;
  line-height: 24px;
}

.kontent_text_bold {
  color: black;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.about_header {
  width: 650px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0 0 35px;
}

/*О КОМПАНИИ (СПРАВА), КАРТИНКА, СТАТИСТИКА*/

.about_stat {
  display: inline-flex;
  padding-left: 0;
  justify-content: space-around;
}

.about_stat li {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-right: 26px;
}

.stat_number_bold {
  display: inline-flex;
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
}

.stat_number_bold sup {
  font-size: 23px;
  line-height: 10px;
  font-weight: bold;
  margin-bottom: 27px;
}

.kontent_text_bold_center {
  color: black;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 41px;
}

/*Партнёры (серые лого)*/

.logo_partners {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}

.border {
  width: 1160px;
  height: 2px;
  background: #e1e1e1;
  border-color: white;
  border-style: none;
  margin: 0;
}

.partners_list {
  display: flex;
  width: 1160px;
  margin-top: 49px;
  margin-bottom: 44px;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  padding-left: 0;
}

.partners_list hr {
  margin: 0;
  display: inline-flex;
  align-self: center;
  height: 50px;
  width: 2px;
  border-style: none;
  background: #e1e1e1;
}

.partners_list li {
  list-style: none;
  display: inline-flex;
  justify-content: space-evenly;
  align-self: center;
}

.partners_list img {
  vertical-align: center;
  object-fit: contain;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.partners_list img:hover {
  object-fit: contain;
  opacity: 1;
  filter: alpha(opacity=100);
}

.partners_list img:focus {
  object-fit: contain;
  opacity: 1;
  filter: alpha(opacity=100);
}

.partners_list img:active {
  object-fit: contain;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

/*Карта фоном + форма для связи*/

.contact_name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 32px;
}

.contact_adress {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #666666;
  margin-top: 0;
}

.map {
  display: flex;
  width: 1440px;
  height: 416px;
  background: url(../img/2.png) no-repeat;
  padding-left: 140px;
  margin-top: 80px;
  margin-bottom: 69px;
}

.adress {
  display: flex;
  flex-direction: column;
  width: 219px;
  height: 207px;
  margin-bottom: 54px;
  margin-top: 54px;
  padding: 54px 50px 47px 50px;
  background: white;
}

/*FOOTER*/

.footer_kontent {
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  align-items: start;
}

.social {
  display: flex;
  margin-right: 139px;
  width: 260px;
  min-height: 148px;
  justify-content: space-between;
}

.social_list {
  width: 75px;
  height: 75px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social_list:hover,
.social_list:focus {
  background-color: #e74246;
}

.social_list:active {
  background-color: #d7373b;
}

.fb {
  width: 75px;
  height: 75px;
  background: url("../img/fb-icon.png") no-repeat center;
}

.fb:active {
  opacity: 0.3;
}

.vk {
  width: 75px;
  height: 75px;
  background-image: url("../img/vk-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.vk:active {
  opacity: 0.3;
}

.insta {
  width: 75px;
  height: 75px;
  background-image: url("../img/insta-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.insta:active {
  opacity: 0.3;
}

.footer_txt_header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 9px;
}

.footer_txt_p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #444444;
}

/*========================
|        КНОПКИ          |
|=========================
*/
/*Слайдер КНОПКА1*/
.slider_red_button {
  width: 132px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: #fb565a;
  padding: 15px 55px;
  border-radius: 4px;
  margin: 0;
  outline: none;
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none;
}

.slider_red_button:hover,
.slider_red_button:focus {
  background-color: #e74246;
}

/*Заказать красная1*/
.order_red_button {
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: #fb565a;
  padding: 15px 37px;
  border-radius: 4px;
  margin: 0;
  outline: none;
  text-decoration: none;
  user-select: none;
}

.order_red_button:hover,
.order_red_button:focus {
  background-color: #e74246;
}

.order_red_button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

/*Заказать зелёная1*/

.order_green_button {
  display: inline-block;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: #00ca74;
  padding: 15px 37px;
  border-radius: 4px;
  margin: 0;
  outline: none;
  text-decoration: none;
  user-select: none;
}

.order_green_button:hover,
.order_green_button:focus {
  background-color: #00bc6c;
}

.order_green_button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

/*Заказать жёлтая1*/

.order_yellow_button {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: #efc84a;
  padding: 15px 37px;
  border-radius: 4px;
  margin: 0;
  outline: none;
  text-decoration: none;
  user-select: none;
  display: inline-block;
}

.order_yellow_button:hover,
.order_yellow_button:focus {
  background-color: #eab534;
}

.order_yellow_button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

/*Кнопка НАПИШИТЕ НАМ*/

.contact_red_button {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fb565a;
  padding: 15px 37px;
  border-radius: 4px;
  border: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  user-select: none;
  display: inline-block;
}

.contact_red_button:hover,
.contact_red_button:focus {
  background-color: #e74246;
}

.contact_red_button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e74246;
}

/*=========================================================
=========STORE===========================================*/

/*Кнопка ЦЕНА*/

.kvast,
.aplus,
.mishka,
.barber,
.pinkapp,
.sedona {
  width: 200px;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: #fb565a;
  border-radius: 4px;
  border: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  user-select: none;
  display: inline-block;
}

.kvast:hover,
.aplus:hover,
.mishka:hover,
.barber:hover,
.pinkapp:hover,
.sedona:hover,
.kvast:focus,
.aplus:focus,
.mishka:focus,
.barber:focus,
.pinkapp:focus,
.sedona:focus {
  background-color: #e74246;
}

.kvast:active,
.aplus:active,
.mishka:active,
.barber:active,
.pinkapp:active,
.sedona:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e74246;
}

/*СТРАНИЦА МАГАЗИНА*/

.content_store {
  display: flex;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
}

.parametrs {
  display: flex;
  width: 260px;
  flex-direction: column;
  margin-right: 140px;
}

.presets_txt {
  text-align: center;
  background-color: #eeeeee;
  margin-bottom: 63px;
}

.presets_txt h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 82px;
  padding-bottom: 116px;
  margin: 0;
}

.coast_header {
  margin-top: 0;
  margin-bottom: 56px;
}

.parametrs p {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.parametrs label {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #283136;
}

.product_prev {
  display: flex;
  width: 760px;
  flex-direction: column;
}

.product_info {
  display: flex;
  width: 760px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product_item {
  display: flex;
  width: 360px;
  min-height: 576px;
  margin-bottom: 33px;
  flex-direction: column;
}

.prod_name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.prod_description {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.browser_img {
  opacity: 0.3;
}

.browser_img:hover,
.browser_img:focus {
  opacity: 1;
}

.search_bttn {
  width: 260px;
  height: 50px;
  background: #eeeeee;
  border: 0;
  color: black;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 3px;
}

.search_bttn:hover,
.search_bttn:focus {
  width: 260px;
  height: 50px;
  background: #dfdfdf;
  border: 0;
  color: black;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 3px;
}

.search_bttn:active {
  width: 260px;
  height: 50px;
  background: #d5d5d5;
  border: 0;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-top: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.sort_txt p {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}

.sort_no_active {
  opacity: 0.3;
}

.sort {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.sort_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
}

.sort_form a {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: black;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
